<link rel="stylesheet" type="text/css" href="css/test.css" />
<div ng-controller="dailyReminderController" id="daily-reminder">
  <div id="logodiv">
    <p id="ptag">
      <img id="logoID" src="img/aircast_daily_reminder.png" alt="logo" />
    </p>
  </div>
  <div id="reminder">
    <p>{{ currentItem }}</p>
  </div>
  <div>
    <p id="underscore">___________</p>
    <span id="aircastlink">@aircastph</span>
  </div>
</div>
